# Environments
.env
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/

# IDEs
.idea/
.vscode/

# Data
input/*
!input/.gitkeep
queue/*
!queue/.gitkeep

# Testing
.pytest_cache/

# uv
# El lockfile SÍ se commitea (para reproducibilidad)
# pero el entorno virtual no
